.contentContainer{
    @include calc( min-height, '100vh - (200px + #{$contentMargins})');
    margin-bottom: $contentMargins;
    margin-top: $contentMargins;
}

/* Navigation */
.navbar-brand{
    padding: 0px;
}

/* Buttons */
.form-submit{
    background: #46a88c;
    @include border-top-radius(3px);
    @include border-bottom-radius(3px);
}