body{
    background: #000;
}
.contentContainer{
    min-height: calc(100vh - 172px);
}
#header{
    background: #ffffff;
    height: 200px;
}
.navbar-brand{
    padding: 0px;
}
.form-submit{
    background: #46a88c;
    @include border-top-radius(3px);
    @include border-bottom-radius(3px);
}
.form-control{
    &.search-block-input{
        width: 103px;
        display: inline-block;
        vertical-align: middle;
    }
}
#block-search-form{
    .content{
        margin-top: 32px;
    }
}