body{
    background: #000;
}
.contentContainer{
    min-height: calc(100vh - 172px);
}
#header{
    background: #ffffff;
    height: 200px;
}
.navbar-brand{
    padding: 0px;
}
.form-submit{
    background: #46a88c;
    @include border-top-radius(3px);
    @include border-bottom-radius(3px);
}
.form-control{
    &.search-block-input{
        width: 103px;
        display: inline-block;
        vertical-align: middle;
    }
}
#block-search-form{
    .content{
        margin-top: 32px;
    }
}
/* Login Form */
.loginWrapper{
    margin-bottom: 40px;
    margin-top: 40px;
    .form-type-password{
        input{
            width: 100%;
        }
    }
    .form-type-textfield{
        @extend .form-type-password;
    }
}
.profileWrapper{
    margin-bottom: 40px;
    margin-top: 40px;
}